<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .price {
            margin-right: 20px;
        }

        .last {
            width: 150px;
        }
    </style>
</head>
<body>

<div id="box" class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>作者</th>
            <th>价格</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in bookData">
            <td v-text="index + 1"></td>
            <td v-text="item.bookName"></td>
            <td v-text="item.bookAuthor"></td>
            <td v-text="item.bookPrice"></td>
            <td class="last">
                <button class="btn btn-danger btn-xs" @click="delBook(item.id)">删除</button>
                <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal"
                        @click="getBookMassage(item.id)">编辑
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="pull-right price">总价：<span v-text="totalPrice()"></span></p>
    <div class="clearfix"></div>
    <h4>添加书籍</h4>
    <hr>

    <div class="form-group">
        <label for="bookName">书名</label>
        <input type="text" v-model="bookMassage.name" class="form-control" id="bookName" placeholder="请输入书名">
    </div>
    <div class="form-group">
        <label for="bookAuthor">作者</label>
        <input type="text" v-model="bookMassage.author" class="form-control" id="bookAuthor" placeholder="请输入作者">
    </div>
    <div class="form-group">
        <label for="bookPrice">价格</label>
        <input type="text" v-model="bookMassage.price" class="form-control" id="bookPrice" placeholder="请输入价格">
    </div>
    <button class="btn btn-info btn-block" @click="addBook">添加</button>


    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改信息</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="bookNameEdit">书名</label>
                        <input type="text" v-model="newBookMassage.name" class="form-control" id="bookNameEdit"
                               placeholder="请输入书名">
                    </div>
                    <div class="form-group">
                        <label for="bookAuthorEdit">作者</label>
                        <input type="text" v-model="newBookMassage.author" class="form-control" id="bookAuthorEdit"
                               placeholder="请输入作者">
                    </div>
                    <div class="form-group">
                        <label for="bookPriceEdit">价格</label>
                        <input type="text" v-model="newBookMassage.price" class="form-control" id="bookPriceEdit"
                               placeholder="请输入价格">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" @click="saveEditing" data-dismiss="modal">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/1.11.1-beta1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.8/vue.min.js"></script>
<script src="js.js"></script>
</html>